<section
  class="hobby-town"
  id="hobby-town"
  data-hobby-town
  data-active-hobby="music"
  data-town-phase="idle"
  aria-label="Steph.H 的兴趣像素小镇">
  <div class="hobby-town__viewport">
    <div class="town-world" data-town-world>
      <img class="town-map town-map--day nozoom" data-no-zoom="true" src="/img/about/worlds/town/farmstead-day.png" alt="">
      <img class="town-map town-map--night nozoom" data-no-zoom="true" src="/img/about/worlds/town/farmstead-night.png" alt="">

      <img class="town-drum-kit nozoom" data-no-zoom="true" src="/img/about/worlds/town/drum-kit.png" alt="">
      <img class="town-guitar nozoom" data-no-zoom="true" src="/img/about/worlds/town/electric-guitar.png" alt="">
      <img class="town-keyboard nozoom" data-no-zoom="true" src="/img/about/worlds/town/keyboard.png" alt="">
      <img class="town-amplifier nozoom" data-no-zoom="true" src="/img/about/worlds/town/amplifier.png" alt="">
      <span class="town-effect town-effect--music"></span>

      <img class="town-arcade nozoom" data-no-zoom="true" src="/img/about/worlds/town/arcade-cabinet.png" alt="">
      <span class="town-effect town-effect--game"></span>

      <div class="town-prop-group town-prop-group--movie">
        <img class="town-movie-tv nozoom" data-no-zoom="true" src="/img/about/worlds/town/movie-tv.png" alt="">
        <img class="town-movie-chair town-movie-chair--one nozoom" data-no-zoom="true" src="/img/about/worlds/town/movie-chair.png" alt="">
        <img class="town-movie-chair town-movie-chair--two nozoom" data-no-zoom="true" src="/img/about/worlds/town/movie-chair.png" alt="">
      </div>

      <span class="town-effect town-effect--photo"></span>
      <span class="town-bird"></span>
      <span class="town-butterfly"></span>

      <span class="town-animal town-animal--chicken"></span>
      <span class="town-animal town-animal--chicken-two"></span>
      <span class="town-animal town-animal--cat"></span>
      <span class="town-animal town-animal--horse"></span>

      <img class="town-bus nozoom" data-no-zoom="true" src="/img/about/worlds/town/travel-bus-front.png" alt="">

      <button class="town-hobby-sign town-hobby-sign--photo" type="button" data-hobby-trigger="photo" aria-label="播放摄影小动画" aria-pressed="false">
        <img class="nozoom" data-no-zoom="true" src="/img/about/worlds/town/label-photo.png" alt="PHOTO">
      </button>
      <button class="town-hobby-sign town-hobby-sign--travel" type="button" data-hobby-trigger="travel" aria-label="播放旅行小动画" aria-pressed="false">
        <img class="nozoom" data-no-zoom="true" src="/img/about/worlds/town/label-travel.png" alt="TRAVEL">
      </button>
      <button class="town-hobby-sign town-hobby-sign--movie" type="button" data-hobby-trigger="movie" aria-label="播放电影小动画" aria-pressed="false">
        <img class="nozoom" data-no-zoom="true" src="/img/about/worlds/town/label-movie.png" alt="MOVIE">
      </button>
      <button class="town-hobby-sign town-hobby-sign--game" type="button" data-hobby-trigger="game" aria-label="播放游戏小动画" aria-pressed="false">
        <img class="nozoom" data-no-zoom="true" src="/img/about/worlds/town/label-game.png" alt="GAME">
      </button>
      <button class="town-hobby-sign town-hobby-sign--guitar" type="button" data-hobby-trigger="guitar" aria-label="播放吉他小动画" aria-pressed="false">
        <img class="nozoom" data-no-zoom="true" src="/img/about/worlds/town/label-guitar.png" alt="GUITAR">
      </button>
      <button class="town-hobby-sign town-hobby-sign--music" type="button" data-hobby-trigger="music" aria-label="播放音乐小动画" aria-pressed="true">
        <img class="nozoom" data-no-zoom="true" src="/img/about/worlds/town/label-music.png" alt="MUSIC">
      </button>

      <span class="town-kent" data-town-kent data-direction="down">
        <span class="town-kent__shadow"></span>
        <span class="town-kent__sprite"></span>
      </span>
    </div>

    <div class="hobby-town__message" aria-live="polite">
      <span class="hobby-town__message-mark" aria-hidden="true">♪</span>
      <span data-town-message>春日农舍醒了，Kent 正在院子里迎接新的一天。</span>
    </div>
  </div>
</section>
