{{ if eq .RelPermalink "/about/" }}
  {{ $aboutCSS := resources.Get "css/pages/about.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $aboutCSS.RelPermalink }}" integrity="{{ $aboutCSS.Data.Integrity }}" data-turbo-track="reload">
  {{ $aboutJS := resources.Get "js/about-journey.js" | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $aboutJS.RelPermalink }}" integrity="{{ $aboutJS.Data.Integrity }}" data-turbo-track="reload"></script>
{{ end }}

{{ if site.Data.music }}
  <script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@8.0.12/dist/turbo.es2017-umd.js" defer></script>
  <script>window.homePlaylist = {{ site.Data.music | jsonify | safeJS }};</script>
  {{ $globalPlayerCSS := resources.Get "css/global-player.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $globalPlayerCSS.RelPermalink }}" integrity="{{ $globalPlayerCSS.Data.Integrity }}" data-turbo-track="reload">
  {{ $playerStateJS := resources.Get "js/player-state.js" | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $playerStateJS.RelPermalink }}" integrity="{{ $playerStateJS.Data.Integrity }}" data-turbo-track="reload"></script>
  {{ $globalPlayerJS := resources.Get "js/global-player.js" | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $globalPlayerJS.RelPermalink }}" integrity="{{ $globalPlayerJS.Data.Integrity }}" data-turbo-track="reload"></script>
  {{ $turboInitJS := resources.Get "js/turbo-init.js" | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $turboInitJS.RelPermalink }}" integrity="{{ $turboInitJS.Data.Integrity }}" data-turbo-track="reload"></script>
{{ end }}

{{ if .IsHome }}
  <script>document.documentElement.classList.add("is-home-page");</script>
{{ end }}

<script>
if ("scrollRestoration" in history) {
  history.scrollRestoration = "manual";
}

document.addEventListener("DOMContentLoaded", function () {
  var imgs = document.querySelectorAll(".article-content figure > img");
  var shouldCorrectHash = Boolean(window.location.hash);
  var hashCorrectionRun = 0;

  function scrollToHashTarget() {
    if (!shouldCorrectHash || !window.location.hash) return;

    var rawId = window.location.hash.slice(1);
    var decodedId = rawId;
    try {
      decodedId = decodeURIComponent(rawId);
    } catch (error) {
      decodedId = rawId;
    }

    var target = document.getElementById(decodedId) || document.getElementById(rawId);
    if (!target) return;

    target.scrollIntoView({ block: "start" });
  }

  function scheduleHashCorrection() {
    if (!window.location.hash) return;
    var run = ++hashCorrectionRun;
    [80, 350, 900, 1600, 3000, 5000].forEach(function (delay) {
      window.setTimeout(function () {
        if (run !== hashCorrectionRun) return;
        scrollToHashTarget();
      }, delay);
    });
    window.setTimeout(function () {
      if (run !== hashCorrectionRun) return;
      shouldCorrectHash = false;
    }, 5600);
  }

  function cancelHashCorrection() {
    shouldCorrectHash = false;
    hashCorrectionRun += 1;
  }

  imgs.forEach(function (img) {
    var applyClass = function () {
      if (!img.naturalWidth || !img.naturalHeight) return;
      if (img.naturalWidth / img.naturalHeight >= 1.25) {
        img.classList.add("is-landscape");
      } else {
        img.classList.remove("is-landscape");
      }
    };

    if (img.complete) {
      applyClass();
    } else {
      img.addEventListener("load", function () {
        applyClass();
      }, { once: true });
    }
  });

  scheduleHashCorrection();
  window.addEventListener("load", scheduleHashCorrection, { once: true });
  window.addEventListener("hashchange", function () {
    shouldCorrectHash = true;
    scheduleHashCorrection();
  });
  window.addEventListener("wheel", function () {
    cancelHashCorrection();
  }, { passive: true });
  window.addEventListener("touchmove", function () {
    cancelHashCorrection();
  }, { passive: true });
  window.addEventListener("keydown", function (event) {
    if (["ArrowDown", "ArrowUp", "PageDown", "PageUp", "Home", "End", " "].indexOf(event.key) !== -1) {
      cancelHashCorrection();
    }
  }, { passive: true });
});
</script>
