{{ $articleReadingJS := resources.Get "js/article-reading.js" | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $articleReadingJS.RelPermalink }}" integrity="{{ $articleReadingJS.Data.Integrity }}" data-turbo-track="reload"></script>

{{ if eq .RelPermalink "/projects/" }}
  {{ $projectsCSS := resources.Get "css/pages/projects.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $projectsCSS.RelPermalink }}" integrity="{{ $projectsCSS.Data.Integrity }}" data-turbo-track="dynamic">
{{ end }}

{{ if .IsHome }}
  {{ $homeCSS := resources.Get "css/pages/home.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $homeCSS.RelPermalink }}" integrity="{{ $homeCSS.Data.Integrity }}" data-turbo-track="reload">
  {{ $homeContentCSS := resources.Get "css/pages/home-content.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $homeContentCSS.RelPermalink }}" integrity="{{ $homeContentCSS.Data.Integrity }}" data-turbo-track="reload">
  {{ $microCSS := resources.Get "css/home-micro-interactions.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $microCSS.RelPermalink }}" integrity="{{ $microCSS.Data.Integrity }}" data-turbo-track="reload">
  {{ $personalFileCSS := resources.Get "css/pages/home-personal-file.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $personalFileCSS.RelPermalink }}" integrity="{{ $personalFileCSS.Data.Integrity }}" data-turbo-track="reload">
{{ end }}

{{ if and .IsPage (eq .RelPermalink "/about/") }}
  {{ $clipboardCSS := resources.Get "css/about-clipboard.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $clipboardCSS.RelPermalink }}" integrity="{{ $clipboardCSS.Data.Integrity }}" data-turbo-track="dynamic">
  {{ $clipboardJS := resources.Get "js/about-clipboard.js" | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $clipboardJS.RelPermalink }}" integrity="{{ $clipboardJS.Data.Integrity }}" data-turbo-track="dynamic"></script>
  {{ $aboutCSS := resources.Get "css/pages/about.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $aboutCSS.RelPermalink }}" integrity="{{ $aboutCSS.Data.Integrity }}" data-turbo-track="dynamic">
  {{ $aboutJS := resources.Get "js/about-journey.js" | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $aboutJS.RelPermalink }}" integrity="{{ $aboutJS.Data.Integrity }}" data-turbo-track="dynamic"></script>
  {{ $aboutContentCSS := resources.Get "css/pages/about-content.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $aboutContentCSS.RelPermalink }}" integrity="{{ $aboutContentCSS.Data.Integrity }}" data-turbo-track="dynamic">
  {{ $aboutPerformanceCSS := resources.Get "css/pages/about-performance.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $aboutPerformanceCSS.RelPermalink }}" integrity="{{ $aboutPerformanceCSS.Data.Integrity }}" data-turbo-track="dynamic">
  {{ $aboutClosingLetterCSS := resources.Get "css/pages/about-closing-letter.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $aboutClosingLetterCSS.RelPermalink }}" integrity="{{ $aboutClosingLetterCSS.Data.Integrity }}" data-turbo-track="dynamic">
  {{ $aboutAcademicLogCSS := resources.Get "css/pages/about-academic-log.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $aboutAcademicLogCSS.RelPermalink }}" integrity="{{ $aboutAcademicLogCSS.Data.Integrity }}" data-turbo-track="dynamic">
  {{ $aboutCreationsCSS := resources.Get "css/pages/about-creations.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $aboutCreationsCSS.RelPermalink }}" integrity="{{ $aboutCreationsCSS.Data.Integrity }}" data-turbo-track="dynamic">
  {{ $aboutPersonaCSS := resources.Get "css/pages/about-persona.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $aboutPersonaCSS.RelPermalink }}" integrity="{{ $aboutPersonaCSS.Data.Integrity }}" data-turbo-track="dynamic">
  {{ $aboutRevealCSS := resources.Get "css/about-reveal.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $aboutRevealCSS.RelPermalink }}" integrity="{{ $aboutRevealCSS.Data.Integrity }}" data-turbo-track="dynamic">
  {{ $aboutWorldsCSS := resources.Get "css/pages/about-worlds.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $aboutWorldsCSS.RelPermalink }}" integrity="{{ $aboutWorldsCSS.Data.Integrity }}" data-turbo-track="dynamic">
  {{ $aboutRevealJS := resources.Get "js/about-reveal.js" | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $aboutRevealJS.RelPermalink }}" integrity="{{ $aboutRevealJS.Data.Integrity }}" data-turbo-track="dynamic"></script>
  {{ $aboutCreationsJS := resources.Get "js/about-creations.js" | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $aboutCreationsJS.RelPermalink }}" integrity="{{ $aboutCreationsJS.Data.Integrity }}" data-turbo-track="dynamic"></script>
  {{ $aboutPersonaJS := resources.Get "js/about-persona.js" | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $aboutPersonaJS.RelPermalink }}" integrity="{{ $aboutPersonaJS.Data.Integrity }}" data-turbo-track="dynamic"></script>
  {{ $aboutWorldsJS := resources.Get "js/about-worlds.js" | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $aboutWorldsJS.RelPermalink }}" integrity="{{ $aboutWorldsJS.Data.Integrity }}" data-turbo-track="dynamic"></script>
{{ end }}

{{ if site.Data.music }}
  <script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@8.0.12/dist/turbo.es2017-umd.js" defer></script>
  <script>window.homePlaylist = {{ site.Data.music | jsonify | safeJS }};</script>
  {{ $globalPlayerCSS := resources.Get "css/global-player.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $globalPlayerCSS.RelPermalink }}" integrity="{{ $globalPlayerCSS.Data.Integrity }}" data-turbo-track="reload">
  {{ $playerStateJS := resources.Get "js/player-state.js" | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $playerStateJS.RelPermalink }}" integrity="{{ $playerStateJS.Data.Integrity }}" data-turbo-track="reload"></script>
  {{ $globalPlayerJS := resources.Get "js/global-player.js" | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $globalPlayerJS.RelPermalink }}" integrity="{{ $globalPlayerJS.Data.Integrity }}" data-turbo-track="reload"></script>
  {{ $turboInitJS := resources.Get "js/turbo-init.js" | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $turboInitJS.RelPermalink }}" integrity="{{ $turboInitJS.Data.Integrity }}" data-turbo-track="reload"></script>
{{ end }}

{{ if .IsHome }}
  <script>document.documentElement.classList.add("is-home-page");</script>
{{ end }}

<script>
if ("scrollRestoration" in history) {
  history.scrollRestoration = "manual";
}

document.addEventListener("DOMContentLoaded", function () {
  var imgs = document.querySelectorAll(".article-content figure > img");
  var shouldCorrectHash = Boolean(window.location.hash);
  var hashCorrectionRun = 0;

  function scrollToHashTarget() {
    if (!shouldCorrectHash || !window.location.hash) return;

    var rawId = window.location.hash.slice(1);
    var decodedId = rawId;
    try {
      decodedId = decodeURIComponent(rawId);
    } catch (error) {
      decodedId = rawId;
    }

    var target = document.getElementById(decodedId) || document.getElementById(rawId);
    if (!target) return;

    target.scrollIntoView({ block: "start" });
  }

  function scheduleHashCorrection() {
    if (!window.location.hash) return;
    var run = ++hashCorrectionRun;
    [80, 350, 900, 1600, 3000, 5000].forEach(function (delay) {
      window.setTimeout(function () {
        if (run !== hashCorrectionRun) return;
        scrollToHashTarget();
      }, delay);
    });
    window.setTimeout(function () {
      if (run !== hashCorrectionRun) return;
      shouldCorrectHash = false;
    }, 5600);
  }

  function cancelHashCorrection() {
    shouldCorrectHash = false;
    hashCorrectionRun += 1;
  }

  imgs.forEach(function (img) {
    var applyClass = function () {
      if (!img.naturalWidth || !img.naturalHeight) return;
      if (img.naturalWidth / img.naturalHeight >= 1.25) {
        img.classList.add("is-landscape");
      } else {
        img.classList.remove("is-landscape");
      }
    };

    if (img.complete) {
      applyClass();
    } else {
      img.addEventListener("load", function () {
        applyClass();
      }, { once: true });
    }
  });

  scheduleHashCorrection();
  window.addEventListener("load", scheduleHashCorrection, { once: true });
  window.addEventListener("hashchange", function () {
    shouldCorrectHash = true;
    scheduleHashCorrection();
  });
  window.addEventListener("wheel", function () {
    cancelHashCorrection();
  }, { passive: true });
  window.addEventListener("touchmove", function () {
    cancelHashCorrection();
  }, { passive: true });
  window.addEventListener("keydown", function (event) {
    if (["ArrowDown", "ArrowUp", "PageDown", "PageUp", "Home", "End", " "].indexOf(event.key) !== -1) {
      cancelHashCorrection();
    }
  }, { passive: true });
});
</script>
