{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<article class="prose dark:prose-invert max-w-full">
  <div class="relative">
    <div class="absolute inset-x-0 bottom-0 h-1/2"></div>
    <div class="mx-auto max-w-7xl p-0">
      <div class="relative sm:overflow-hidden">
        <div class="fixed inset-x-0 top-0 -z-10">
          {{ $useDefault := true }}
          {{ $homepageImage := "" }}
          {{ with .Site.Params.defaultBackgroundImage }}
            {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
              {{ $homepageImage = resources.GetRemote . }}
            {{ else }}
              {{ $homepageImage = resources.Get . }}
            {{ end }}
          {{ end }}
          {{ with .Site.Params.homepage.homepageImage }}
            {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
              {{ $homepageImage = resources.GetRemote . }}
              {{ $useDefault = false }}
            {{ else }}
              {{ $homepageImage = resources.Get . }}
              {{ $useDefault = false }}
            {{ end }}
          {{ end }}
          {{ if $homepageImage }}
            {{ $style := "" }}
            {{ $defaultPosition := cond $useDefault site.Params.imagePosition false }}
            {{ with $.Params.imagePosition | default $defaultPosition }}
              {{ $style = printf "object-position: %s;" . }}
            {{ end }}
            <img
              id="background-image"
              class="nozoom mt-0 mr-0 mb-0 ml-0 h-[1000px] w-full object-cover"
              src="{{ $homepageImage.RelPermalink }}"
              role="presentation"
              {{ if $style }}style="{{ $style | safeCSS }}"{{ end }}>
            <div
              class="from-neutral absolute inset-0 h-[1000px] bg-gradient-to-t to-transparent mix-blend-normal dark:from-neutral-800"></div>
            <div
              class="from-neutral absolute inset-0 h-[1000px] bg-gradient-to-t to-neutral-100 opacity-60 mix-blend-normal dark:from-neutral-800 dark:to-neutral-800"></div>
          {{ end }}
        </div>
        <div class="relative flex flex-col items-center justify-center px-1 py-1 text-center">
          <!-- 这里去掉了原有的作者头像、姓名、简介和社交链接，直接显示内容 -->
          <section class="prose dark:prose-invert w-full">{{ .Content }}</section>
        </div>
      </div>
    </div>
  </div>
</article>
